<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2019 Unbxd Inc.
 */
-->

<!--
/**
 * Init development:
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Unbxd_ProductFeed::indexing_queue" title="Unbxd ProductFeed Indexing Queue" translate="title" />
                    <resource id="Unbxd_ProductFeed::productfeed" title="Unbxd ProductFeed" translate="title" />
                    <resource id="Unbxd_ProductFeed::cron" title="Unbxd Cron Tasks" translate="title" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
