<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2019 Unbxd Inc.
 */
-->

<!--
/**
 * Init development:
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Unbxd\ProductFeed\Api\Data\FeedViewSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Unbxd\ProductFeed\Api\Data\IndexingQueueSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Unbxd\ProductFeed\Api\Data\FeedViewInterface" type="Unbxd\ProductFeed\Model\FeedView" />
    <preference for="Unbxd\ProductFeed\Api\Data\IndexingQueueInterface" type="Unbxd\ProductFeed\Model\IndexingQueue" />
    <preference for="Unbxd\ProductFeed\Api\FeedViewRepositoryInterface" type="Unbxd\ProductFeed\Model\FeedViewRepository" />
    <preference for="Unbxd\ProductFeed\Api\IndexingQueueRepositoryInterface" type="Unbxd\ProductFeed\Model\IndexingQueueRepository" />
    <virtualType name="Unbxd\ProductFeed\Model\Api\SearchCriteria\IndexingQueueCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Cms\Model\Api\SearchCriteria\CollectionProcessor\BlockFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Unbxd\ProductFeed\Model\IndexingQueueRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Unbxd\ProductFeed\Model\Api\SearchCriteria\IndexingQueueCollectionProcessor</argument>
        </arguments>
    </type>
    <virtualType name="Unbxd\ProductFeed\Model\Api\SearchCriteria\FeedViewCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Cms\Model\Api\SearchCriteria\CollectionProcessor\BlockFilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Unbxd\ProductFeed\Model\FeedViewRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Unbxd\ProductFeed\Model\Api\SearchCriteria\FeedViewCollectionProcessor</argument>
        </arguments>
    </type>

    <!-- START: filter products -->
    <type name="Unbxd\ProductFeed\Model\FilterAttribute\FilterAttributeProvider">
        <arguments>
            <argument name="attributes" xsi:type="array">
                <item name="status" xsi:type="object">Unbxd\ProductFeed\Model\FilterAttribute\Attributes\Status</item>
                <item name="stock_status" xsi:type="object">Unbxd\ProductFeed\Model\FilterAttribute\Attributes\Inventory</item>
                <item name="visibility" xsi:type="object">Unbxd\ProductFeed\Model\FilterAttribute\Attributes\Visibility</item>
                <item name="image" xsi:type="object">Unbxd\ProductFeed\Model\FilterAttribute\Attributes\Image</item>
            </argument>
        </arguments>
    </type>
    <!-- END: filter products -->

    <!-- START: grids/collections -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="unbxd_productfeed_feed_view_grid_data_source" xsi:type="string">Unbxd\ProductFeed\Model\ResourceModel\FeedView\Grid\Collection</item>
                <item name="unbxd_productfeed_indexing_queue_grid_data_source" xsi:type="string">Unbxd\ProductFeed\Model\ResourceModel\IndexingQueue\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Unbxd\ProductFeed\Model\ResourceModel\FeedView\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">unbxd_productfeed_feed_view</argument>
            <argument name="eventPrefix" xsi:type="string">unbxd_productfeed_feed_view_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">feed_view_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Unbxd\ProductFeed\Model\ResourceModel\FeedView</argument>
        </arguments>
    </type>
    <type name="Unbxd\ProductFeed\Model\ResourceModel\IndexingQueue\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">unbxd_productfeed_indexing_queue</argument>
            <argument name="eventPrefix" xsi:type="string">unbxd_productfeed_indexing_queue_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">indexing_queue_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Unbxd\ProductFeed\Model\ResourceModel\IndexingQueue</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Unbxd\ProductFeed\Api\Data\FeedViewInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">unbxd_productfeed_feed_view</item>
                    <item name="identifierField" xsi:type="string">feed_id</item>
                </item>
                <item name="Unbxd\ProductFeed\Api\Data\IndexingQueueInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">unbxd_productfeed_indexing_queue</item>
                    <item name="identifierField" xsi:type="string">queue_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Unbxd\ProductFeed\Api\Data\FeedViewInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
                <item name="Unbxd\ProductFeed\Api\Data\IndexingQueueInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <!-- END: grids/collections -->

    <!-- START: logger -->
    <preference for="Unbxd\ProductFeed\Logger\LoggerInterface" type="Unbxd\ProductFeed\Logger\LoggerProxy"/>
    <type name="Unbxd\ProductFeed\Logger\LoggerProxy">
        <arguments>
            <argument name="loggerAlias" xsi:type="init_parameter">Unbxd\ProductFeed\Logger\OptionsListConstants::LOGGER_OUTPUT</argument>
            <argument name="logAll" xsi:type="init_parameter">Unbxd\ProductFeed\Logger\OptionsListConstants::LOGGER_LOG_EVERYTHING</argument>
            <argument name="logCallStack" xsi:type="init_parameter">Unbxd\ProductFeed\Logger\OptionsListConstants::LOGGER_INCLUDE_STACKTRACE</argument>
        </arguments>
    </type>
    <type name="Unbxd\ProductFeed\Logger\File">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="default" xsi:type="string">default.log</item>
                <item name="indexing" xsi:type="string">indexing.log</item>
                <item name="feed" xsi:type="string">feed.log</item>
                <item name="analytics" xsi:type="string">analytics.log</item>
            </argument>
        </arguments>
    </type>
    <!-- END: logger -->

    <!-- START: indexer -->
    <type name="Unbxd\ProductFeed\Model\Indexer\Product\Full\Action\Full">
        <arguments>
            <argument name="batchRowsCount" xsi:type="string">5000</argument>
        </arguments>
    </type>
    <type name="Unbxd\ProductFeed\Model\ResourceModel\Eav\Indexer\Full\DataSourceProvider\AbstractAttribute">
        <arguments>
            <argument name="entityType" xsi:type="string">Magento\Catalog\Api\Data\CategoryInterface</argument>
        </arguments>
    </type>
    <type name="Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Attribute">
        <arguments>
            <argument name="resourceModel" xsi:type="object">Unbxd\ProductFeed\Model\ResourceModel\Indexer\Product\Full\DataSourceProvider\Attribute</argument>
        </arguments>
    </type>
    <type name="Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Price">
        <arguments>
            <argument name="priceReaderPool" xsi:type="array">
                <item name="default" xsi:type="object">Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Price\PriceDefault</item>
                <item name="configurable" xsi:type="object">Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Price\Configurable</item>
                <item name="grouped" xsi:type="object">Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Price\Grouped</item>
            </argument>
        </arguments>
    </type>
    <type name="Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider">
        <arguments>
            <argument name="typeName" xsi:type="string">Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider::DATA_SOURCES_DEFAULT_TYPE</argument>
            <argument name="dataSources" xsi:type="array">
                <item name="attribute" xsi:type="object">Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Attribute</item>
                <item name="price" xsi:type="object">Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Price</item>
                <item name="inventory" xsi:type="object">Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Inventory</item>
                <item name="category" xsi:type="object">Unbxd\ProductFeed\Model\Indexer\Product\Full\DataSourceProvider\Category</item>
            </argument>
        </arguments>
    </type>
    <!-- END: indexer -->

    <!-- START: plugins -->
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="unbxd_product_reindex" type="Unbxd\ProductFeed\Plugin\Reindex\Product"/>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="unbxd_product_massaction_reindex" type="Unbxd\ProductFeed\Plugin\Reindex\ProductMassAction"/>
    </type>
    <!-- @TODO - not sure if this plugin need, as we already have 'unbxd_product_reindex' plugin to perform product operations -->
    <!--<type name="Magento\CatalogInventory\Model\ResourceModel\Stock\Item">-->
        <!--<plugin name="unbxd_product_stock_item_reindex" type="Unbxd\ProductFeed\Plugin\Reindex\StockItem"/>-->
    <!--</type>-->
    <type name="Magento\Catalog\Model\ResourceModel\Category">
        <plugin name="unbxd_product_category_products_reindex" type="Unbxd\ProductFeed\Plugin\Reindex\CategoryProducts"/>
    </type>
    <!-- END: plugins -->

    <!-- START: custom xml config reader -->
    <type name="Unbxd\ProductFeed\Model\IndexingQueue\Config\Reader">
        <arguments>
            <argument name="fileName" xsi:type="string">indexing_queue_config.xml</argument>
            <argument name="converter" xsi:type="object">Unbxd\ProductFeed\Model\IndexingQueue\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Unbxd\ProductFeed\Model\IndexingQueue\Config\SchemaLocator</argument>
        </arguments>
    </type>
    <!-- END: custom xml config reader -->

    <!-- START: feed related -->
    <type name="Unbxd\ProductFeed\Model\Feed\FileManager">
        <arguments>
            <argument name="fileName" xsi:type="string">unbxdFeed</argument>
            <argument name="contentFormat" xsi:type="string">json</argument>
            <argument name="archiveFormat" xsi:type="string">zip</argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="json" xsi:type="string">application/json</item>
                <item name="zip" xsi:type="string">application/zip</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="unbxd_productfeed_full" xsi:type="object">Unbxd\ProductFeed\Console\Command\Feed\Full</item>
                <item name="unbxd_productfeed_incremental" xsi:type="object">Unbxd\ProductFeed\Console\Command\Feed\Incremental</item>
                <item name="unbxd_productfeed_upload_status" xsi:type="object">Unbxd\ProductFeed\Console\Command\Feed\UploadStatus</item>
                <item name="unbxd_productfeed_upload_size" xsi:type="object">Unbxd\ProductFeed\Console\Command\Feed\UploadSize</item>
            </argument>
        </arguments>
    </type>
    <!-- END: feed related -->
</config>