.config-nav-block {
    &.unbxd-tab {
        .admin__page-nav-title {
            &:before {
                content: '';
                display: block;
                position: absolute;
                background: url(../images/unbxd_logo_badge.png) no-repeat;
                background-size: contain;
                width: 19px;
                height: 19px;
            }

            strong {
                margin-left: 25px;
            }
        }
    }
}

.unbxd-system-config-information-container {
    background: #f8f8f8;
    border: 1px solid #e3e3e3;
    padding: 1.5rem;

    .block {
        margin-bottom: 1rem;

        .title {
            display: inline-block;
            cursor: pointer;
            position: relative;

            &:before {
                content: '\e616';
                font-size: 1.8rem;
                position: absolute;
                right: -30px;
                top: 0;
                font-family: 'Admin Icons';
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                speak: none;
            }
        }

        &.active {
            .title {
                &:before {
                    content: '\e615';
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.content {
            .link {
                display: block;
                margin-top: 10px;

                &:hover,
                &:focus {
                    text-decoration: none;
                }

                &.external {
                    span {
                        position: relative;

                        &:after {
                            content: '\e644';
                            font-size: 1rem;
                            text-align: center;
                            vertical-align: middle;
                            font-family: 'Admin Icons';
                            font-style: normal;
                            font-weight: normal;
                            line-height: 1;
                            speak: none;
                            padding: 0 0 5px 5px;
                        }
                    }
                }
            }
        }

        h2 {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }

        .logo {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .messages {
            .message {
                margin: 0 0 1.5rem;

                &-success {
                    background-color: #e9fbdb;
                    color: green;
                }
            }
        }

        &.additional-information {
            padding-bottom: 10px;
            border-bottom: 1px solid #e3e3e3;

            table {
                tr {
                    th, td {
                        vertical-align: middle;
                        text-align: left;
                        padding: .2rem .8rem;
                    }

                    td {
                        border-left: 0.1rem dashed #d6d6d6;

                        span[class*="grid-severity"] {
                            min-width: 100px;
                        }
                    }
                }
            }
        }
    }

    &.catalog {
        .content {
            ul {
                list-style: none;
                padding-left: 1rem;
                margin: 0;

                li {
                    &:before {
                        content: '- ';
                    }

                    code {
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.unbxd-fieldset {
    &-buttons {
        button {
            &.action-default {
                min-width: 220px;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            & ~ .tooltip {
                float: none !important;
            }
        }
    }

    &-field-note {
        margin: 2.2rem auto;
        background: #f1f1f1;
        border: 1px solid #ccc;

        &:before {
            color: #676056;
        }
    }
}

.adminhtml-system-config-edit,
.adminhtml-system_config-edit {
    .modal-popup {
        &.confirm {
            .modal-inner-wrap {
                width: 75%;
                min-width: 75%;
            }
        }
    }
}
.unbxd-response-modal-container {
    left: auto;
    right: 0;
    min-width: 30%;

    h3 {
        margin-bottom: 0;
    }
}

.admin__data-grid-wrap {
    .data-grid {
        tbody {
            .data-row {
                .data-grid-cell-content {
                    .grid-severity {
                        &-pending,
                        &-hold{
                            display: block;
                            font-weight: bold;
                            line-height: 17px;
                            padding: 0 3px;
                            text-align: center;
                            text-transform: uppercase;
                        }

                        &-pending {
                            background: #dbdbdb;
                            border: 1px solid #adadad;
                            color: #514943;
                        }
                        &-hold {
                            background: #f8f8f8;
                            border: 1px solid #c3c3c3;
                            color: #888;
                        }
                    }
                }
            }
        }
    }
}

.log-viewer-modal {
    .content-wrapper {
        border: 1px solid #ccc;
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 2px;

        .log-content {
            display: block;
            width: 100%;
            height: 100%;
            min-height: 100%;
            overflow: auto;
            margin: 0;
            padding: 5px;
            background: #3f3f3f;
            color: #dcdccc;
            font: normal 12px Lucida Console, Courier New, serif;
        }
    }
}


.incremental-synchronization-container {
    left: auto;
    right: 0;
    min-width: 700px;

    .note {
        font-size: 13px;
    }

    .form {
        ~ .note {
            text-align: right;
        }

        .fieldset {
            margin: 5px 0;

            .label {
                display: none;
            }

            textarea {
                width: 100%;
                min-height: 150px;
                padding: 10px;
                resize: initial;
            }
        }
    }
}
